<main class="flex w-[100%] h-[100vh]">

  <Zplayer-sidebar class="w-[25%] h-[100%]"></Zplayer-sidebar>

  <div class="w-[75%] h-[100%] bg-black flex text-white self-center justify-center flex-col">
          <!--
          CONTENEDOR CENTRAL
      -->
      <div class="text-center font-gaming-bold md:text-5xl text-4xl text-[#028E39] self-center my-5">
        <h1 class="p-2 bg-black border-[5px] border-[#134226] w-[fit-content]">COMUNIDADES</h1>
      </div>

      <div class="grid md:grid-cols-2 2xl:grid-cols-3 grid-cols-1 gap-x-[2%] gap-y-[3%] items-center justify-center self-center mx-[10%] w-[90%] h-[90vh] overflow-y-auto scrollable-messages">


        <div class="cursor-pointer  bg-[#26bd62] justify-self-center p-5 rounded-lg survival flex justify-center align-middle items-center w-[230px] h-[230px] border-[5px] border-[#134226] duration-300 hover:scale-110" routerLink="/comunidades/survival">
            <span class="font-gaming-bold xl:text-4xl text-2xl text-[#028E39] p-2 bg-black border-[5px] border-[#134226] rounded-lg">SURVIVAL</span>
        </div>
        <div class="cursor-pointer bg-[#26bd62] justify-self-center   p-5 rounded-lg estrategia flex justify-center align-middle items-center w-[230px] h-[230px] border-[5px] border-[#134226] duration-300 hover:scale-110">
          <span class="font-gaming-bold xl:text-4xl text-2xl text-[#028E39] p-2 bg-black border-[5px] border-[#134226] rounded-lg">ESTRATEGIA</span>
        </div>
        <div class="cursor-pointer bg-[#26bd62] justify-self-center  p-5 rounded-lg mmorpg flex justify-center align-middle items-center w-[230px] h-[230px] border-[5px] border-[#134226] duration-300 hover:scale-110" routerLink="/comunidades/mmorpg">
          <span class="font-gaming-bold xl:text-4xl text-2xl text-[#028E39] p-2 bg-black border-[5px] border-[#134226] rounded-lg">MMORPG</span>
        </div>
        <div class="cursor-pointer bg-[#26bd62] justify-self-center  p-5 rounded-lg moba flex justify-center align-middle items-center w-[230px] h-[230px] border-[5px] border-[#134226] duration-300 hover:scale-110" routerLink="/comunidades/moba">
          <span class="font-gaming-bold xl:text-4xl text-2xl text-[#028E39] p-2 bg-black border-[5px] border-[#134226] rounded-lg">MOBA</span>
        </div>
        <div class="cursor-pointer bg-[#26bd62] justify-self-center  p-5 rounded-lg rpg flex justify-center align-middle items-center w-[230px] h-[230px] border-[5px] border-[#134226] duration-300 hover:scale-110" routerLink="/comunidades/rpg">
          <span class="font-gaming-bold  xl:text-4xl text-2xl text-[#028E39] p-2 bg-black border-[5px] border-[#134226] rounded-lg">RPG</span>
        </div>
        <div class="cursor-pointer bg-[#26bd62] justify-self-center p-5 rounded-lg shooter flex justify-center align-middle items-center w-[230px] h-[230px] border-[5px] border-[#134226] duration-300 hover:scale-110" routerLink="/comunidades/shooter">
          <span class="font-gaming-bold xl:text-4xl text-2xl text-[#028E39] p-2 bg-black border-[5px] border-[#134226] rounded-lg">SHOOTER</span>
        </div>
        <div class="cursor-pointer bg-[#26bd62] justify-self-center  p-5 rounded-lg deportes flex justify-center align-middle items-center w-[230px] h-[230px] border-[5px] border-[#134226] duration-300 hover:scale-110" routerLink="/comunidades/deportes">
          <span class="font-gaming-bold xl:text-4xl text-2xl text-[#028E39] p-2 bg-black border-[5px] border-[#134226] rounded-lg">DEPORTES</span>
        </div>
        <div class="cursor-pointer bg-[#26bd62] justify-self-center  p-5 rounded-lg battleroyale flex justify-center flex-col align-middle items-center w-[230px] h-[230px] border-[5px] border-[#134226] duration-300 hover:scale-110">
          <div class="bg-black border-[5px] border-[#134226] flex flex-col rounded-lg p-2 font-gaming-bold xl:text-4xl text-2xl text-[#028E39]">
            <span>BATTLE</span>
            <span>ROYALE</span>
          </div>


        </div>
        <!-- <div class="bg-[#26bd62]  p-5 rounded-lg">
          <img class="h-auto max-w-full  rounded-lg" src="../../../assets/fotos-juegos/Arcade-games.png" alt="">
        </div> -->
      </div>


  </div>

</main>
