<main class="flex w-[100%] h-[100vh]">

  <Zplayer-sidebar class="w-[25%] h-[100%]"></Zplayer-sidebar>

  <div class="w-[75%] h-[100%] bg-black flex text-white">
          <!--
          CONTENEDOR CENTRAL
      -->

      <div class="xl:w-[65%] w-[100%] h-[100vh] border-r-[1px] border-x-green-800 flex flex-col items-center">

        <div class="flex flex-col items-center mt-4 pb-4 border-b-[1px] border-green-800 w-full cursor-pointer" (click)="viewUserProfile(receiver_id)">
          <img [src]="devolverLogo(logoReceiver)" alt="" srcset="" width="100px" class="my-1 rounded-full">
          <h1 class="my-1">{{nombreReceiver}}</h1>
          <span class="my-1">&#64;{{usernameReceiver}}</span>
        </div>

        <div class="w-[100%] flex flex-col overflow-y-auto h-[68vh] scrollable-messages  border-b-[1px] border-green-800 " #scrollableMessages>

          <div class="w-[100%] flex flex-col messages" *ngFor="let mensaje of mensajes">
            @if (mensaje.sender._id == sender_id) {

              <div class="self-end max-w-[500px] flex my-2 mx-2">
                <p class="border-[1px] border-green-800 p-4 rounded-md">{{mensaje.message}}</p>
                <div class="flex items-center mx-2">
                  <img [src]="devolverLogo(logoSender)" alt="" srcset="" class="min-w-[30px] min-h-[30px] w-[30px] rounded-full">
                </div>
              </div>

            }
            @else {

              <div class="self-start max-w-[500px] flex my-2 mx-2">
                <div class="flex items-center mx-2">
                  <img [src]="devolverLogo(logoReceiver)" alt="" srcset="" class="min-w-[30px] min-h-[30px] w-[30px] rounded-full">
                </div>
                <p class="border-[1px] border-green-800 p-4 rounded-md">{{mensaje.message}}</p>
              </div>

            }
          </div>


        </div>

          <div class="absolute bottom-6 flex w-full max-w-[24rem]">
            <div class="relative h-10 w-full min-w-[200px]">
              <input type="email"
                class="peer h-full w-full rounded-[7px] border border-green-800 bg-transparent px-3 py-2.5 pr-20 font-sans text-sm font-normal text-white outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200  focus:border-2"
                placeholder=" "
                value=""
                name="md"
                id="md"
                (input)="ajustarAltura()"
                [(ngModel)]="contenido"
                (keypress)="enviarMd($event)"/>
              <label for="md"
                class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none !overflow-visible truncate text-[11px] font-normal leading-tight text-white transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-focus:text-[11px] peer-focus:leading-tight">
                Mensaje
              </label>
            </div>
            <button disabled
              class="!absolute right-1 top-1 select-none rounded bg-blue-gray-500 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-gray-500/20 transition-all hover:shadow-lg hover:shadow-blue-gray-500/40"
              type="button">
              Enviar
            </button>
          </div>
        <!--
              FIN CONTENEDOR CENTRAL
          -->
      </div>
      <!--
      BARRA LATERAL DERECHA
      -->
      <div class="w-[35%] h-[100%] xl:flex hidden flex-col items-center">

        <!--
        BOTON DE BUSQUEDA
        -->

        <!--
        FIN BOTON DE BUSQUEDA
        -->


      </div>
      <!--
      FIN BARRA LATERAL DERECHA
      -->

  </div>


</main>
