
<div class="bg-black flex flex-col h-[100vh] border-r-[1px] border-x-green-800">

  <img src="../../../../assets/logos-zplayer/Zplay-Icon-color.svg" width="120px" class="self-center mt-5" />


  <div class="flex-col text-white font-gaming text-2xl tracking-wide flex w-[fit-content] self-center espacio">

    <div class="flex my-2 button-menu items-center px-3" routerLink="/home">
      <div class="w-[50px] h-[50px] flex justify-center items-center">
        <fa-icon [icon]="faHouse"></fa-icon>
      </div>
      <span class="hidden lg:block">Inicio</span>
    </div>

    <div class="flex my-2 button-menu items-center px-3"  routerLink="/mensajes">
      <div class="w-[50px] h-[50px] flex justify-center items-center">
        <fa-icon [icon]="faEnvelope"></fa-icon>
      </div>
      <span class="hidden lg:block">Mensajes</span>
    </div>

    <div class="flex my-2 button-menu items-center px-3" routerLink="/descubrir">
      <div class="w-[50px] h-[50px] flex justify-center items-center">
        <fa-icon [icon]="faUserPlus"></fa-icon>
      </div>
      <span class="hidden lg:block">Descubrir</span>
    </div>


    <div  class="flex my-2 button-menu items-center px-3"  routerLink="/comunidades">
      <div class="w-[50px] h-[50px] flex justify-center items-center">
        <fa-icon [icon]="faUsers"></fa-icon>
      </div>
      <span class="hidden lg:block">Comunidades</span>
    </div>

    <div class="flex my-2 button-menu items-center px-3" routerLink="/perfil">
      <div class="w-[50px] h-[50px] flex justify-center items-center">
        <fa-icon [icon]="faUser"></fa-icon>
     </div>
     <span class="hidden lg:block">Perfil</span>
    </div>

  </div>

  <div class="text-white flex self-center mt-20 button-menu justify-between p-3 absolute bottom-5" (click)="cerrarSesion()">

    <div class="flex">
      <div>
          <img class="rounded-full mx-3" [src]="logo" alt="" width="50px">
      </div>

      <div class="hidden lg:block">
        <div>
          {{realname}}
        </div>
        <div>
          &#64;{{username}}
        </div>
      </div>

  </div>

    <div class="text-3xl self-center hidden lg:block ml-4">
      <fa-icon [icon]="faRightFromBracket"></fa-icon>
    </div>

  </div>

</div>
