<main class="flex w-[100%] h-[100vh]">

  <Zplayer-sidebar class="w-[25%] h-[100%]"></Zplayer-sidebar>

  <div class="w-[75%] h-[100%] bg-black flex text-white">

      <!--
          CONTENEDOR CENTRAL
      -->

    <div class="xl:w-[65%] w-[100%] h-[100vh] border-r-[1px] border-x-green-800 scrollable-messages overflow-y-auto flex flex-col" #scrollContainer (scroll)="onDivScroll()">

      <button *ngIf="mostrarBoton" class="sticky top-6 mt-3 border border-green-800 rounded-full w-[30px] h-[30px] bg-green-800 self-center" (click)="irArriba()"><fa-icon [icon]="faArrowUp"></fa-icon></button>

      <!--
      MENU ADD POST
      -->
      <div class="flex justify-center flex-col items-center border-b-[1px] border-green-800 max-h-[50vh] m-0">

        <img src="../../../../assets/fotos-juegos/banners/banner-deportes.jpg" alt="" srcset="">

          <!--
          ADD POST
          -->
            <form class="w-[75%] sticky top-0 my-5">
              <div class="w-full mb-4 border rounded-lg bg-gray-50 dark:bg-black dark:border-black">
                  <div class=" bg-white rounded-t-lg dark:bg-black">
                      <textarea (input)="ajustarAltura()" [(ngModel)]="contenido" id="mensaje" name="contenido" rows="1" class="resize-none w-full text-sm text-white border-0 dark:bg-black focus:ring-0 focus:outline-none dark:text-white dark:placeholder-white" placeholder="¡¿Jugamos Deportes Players?!" required ></textarea>
                  </div>
                  <div class="flex items-center justify-between py-2 border-t dark:border-[#028E39]">
                      <button (click)="nuevoMensaje()" type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-[#028E39] rounded-lg focus:ring-[#028E39] dark:focus:ring-[#028e3a86] hover:bg-[#028e3a86]">
                          Comentar
                      </button>
                  </div>
              </div>
            </form>
          <!--
          FIN ADD POST
          -->

      </div>
      <!--
      FIN MENU ADD POST
      -->


      <!--
          CONTENEDOR DE POSTS
      -->
      <div class="w-[100%] max-h-[50vh] flex flex-col p-[10px]">

        <!--
          POST FORMATO
        -->
        <article class="w-[100%] m-auto my-3 border-[1px] border-green-800 py-4 " *ngFor="let post of posts">
          <div class="flex px-2 w-[100%] posts">

            <div class="w-10 h-10 cursor-pointer" (click)="viewUserProfile(post.user_id._id)">
              <img [src]="devolverLogo(post.user_id.logo)" class="w-10 h-10 rounded-full select-none" alt="icono-usuario"  srcset="">
            </div>

            <div class="self-center margen-username cursor-pointer" (click)="viewUserProfile(post.user_id._id)">
              &#64;{{post.user_id.username}}
            </div>

            <div class="self-center margen-categorie mr-1 border-[1px] border-green-800 py-0.5 px-5 bg-[#14532d] rounded-xl">
              {{post.comunities.toLocaleUpperCase()}}
            </div>

          </div>

          <div class=" px-8 my-6">
            {{post.message}}
          </div>

          <div class="flex justify-between mx-2">
            <p>{{formatearFecha(post.createdAt)}}</p>

            <div class="flex">
              <svg [ngStyle]="{'fill': mensajeGustado(post) ? 'currentColor' : 'none'}" (click)="darLike(post._id)" class="w-6 h-6 text-gray-800 dark:text-green-800 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
              </svg>
              <span class="mx-1 select-none">{{post.likes.length}}</span>
            </div>

          </div>
        </article>
        <!--
          FIN POST FORMATO
        -->

      </div>
      <!--
        FIN CONTENEDOR DE POSTS
      -->

    </div>
    <!--
          FIN CONTENEDOR CENTRAL
      -->

    <!--
    BARRA LATERAL DERECHA
    -->
    <div class="w-[35%] h-[100%] xl:flex flex-col items-center hidden justify-around">

      <!--
      BOTON DE BUSQUEDA
      -->
      <div class="md:w-[400px] md:h-[350px] max-w-sm border-[1px] border-green-800 rounded-lg shadow bg-black m-5" *ngFor="let user of usuariosRandom">

        <div class="flex flex-col items-center p-16">
            <img class="max-w-24 h-24 mb-3 cursor-pointer  rounded-full shadow-lg" [src]="devolverLogo(user.logo)" alt="Bonnie image" (click)="viewUserProfile(user._id)"/>
            <h5 class="mb-1 text-xl cursor-pointer  font-medium text-gray-900 dark:text-white text-center" (click)="viewUserProfile(user._id)">{{user.realname}}</h5>
            <span class="text-sm cursor-pointer  text-gray-500 dark:text-gray-400" (click)="viewUserProfile(user._id)">&#64;{{user.username}}</span>
            <div class="flex mt-4 md:mt-6 flex-wrap items-center justify-center">
              <a (click)="followUser(user._id)" class="cursor-pointer inline-flex mt-2 sm:mt-0  items-center px-4 py-2 text-sm font-medium text-center text-white bg-green-800 rounded-lg hover:bg-green-900 focus:ring-4 focus:outline-none">Seguir</a>
              <a (click)="privateChat(id, user._id)" class="py-2 px-4 mt-2 sm:mt-0 sm:ms-2 text-sm font-medium text-black focus:outline-none bg-green-300 rounded-lg hover:bg-green-500 focus:z-10 focus:ring-4 cursor-pointer">Mensaje</a>
            </div>
        </div>

      </div>
      <!--
      FIN BOTON DE BUSQUEDA
      -->


    </div>
    <!--
    FIN BARRA LATERAL DERECHA
    -->


  </div>

</main>
