<main class="flex w-[100%] h-[100vh]">

    <Zplayer-sidebar class="w-[25%] h-[100%]"></Zplayer-sidebar>



    <div class="w-[75%] bg-black flex text-white flex-wrap justify-center overflow-y-auto scrollable-messages">

      <div class="w-[100%] mx-4 h-[fit-content] mt-12 rounded-xl flex items-center justify-center">
        <div class="w-[100%]">
            <form class="max-w-md mx-auto" (submit)="buscarUsuarios($event)">
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="search" id="default-search" [(ngModel)]="searchQuery" name="searchQuery" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-[#22613b] rounded-lg bg-gray-50 focus:ring-[#22613b] focus:border-[#22613b] dark:bg-black dark:border-[#22613b] dark:placeholder-white dark:text-white dark:focus:ring-[#22613b] dark:focus:border-[#22613b]" placeholder="Busca Usuario (@username)" required />
                </div>
            </form>
        </div>
    </div>


      <div class="grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4 mt-[-250px]">




        @if (usersFind.length <= 0) {
          <p class="h-[fit-content] p-1 self-center col-start-1 col-end-3 mt-[-250px]">No hay usuarios para descubir :/</p>
        }@else{
          <div class="md:w-[400px] md:h-[350px] h-[400px] max-w-sm border-[1px] border-green-800 rounded-lg shadow bg-black m-5" *ngFor="let user of usersFind">

            <div class="flex flex-col items-center p-16">
                <img class="max-w-24 h-24 mb-3 cursor-pointer  rounded-full shadow-lg" [src]="devolverLogo(user.logo)" alt="Bonnie image" (click)="viewUserProfile(user._id)"/>
                <h5 class="mb-1 text-xl cursor-pointer  font-medium text-gray-900 dark:text-white text-center" (click)="viewUserProfile(user._id)">{{user.realname}}</h5>
                <span class="text-sm cursor-pointer  text-gray-500 dark:text-gray-400" (click)="viewUserProfile(user._id)">&#64;{{user.username}}</span>
                <div class="flex mt-4 md:mt-6 flex-wrap items-center justify-center">
                    <a (click)="followUser(user._id)" class="cursor-pointer inline-flex mt-2 sm:mt-0  items-center px-4 py-2 text-sm font-medium text-center text-white bg-green-800 rounded-lg hover:bg-green-900 focus:ring-4 focus:outline-none">Seguir</a>
                    <a (click)="privateChat(id, user._id)" class="py-2 px-4 mt-2 sm:mt-0 sm:ms-2 text-sm font-medium text-black focus:outline-none bg-green-300 rounded-lg hover:bg-green-500 focus:z-10 focus:ring-4 cursor-pointer">Mensaje</a>
                </div>
            </div>

          </div>
        }

      </div>




    </div>

</main>
